@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Global */


:root {
  /* Color */
  --background-color: #B9AAE2;
  --background-dark-color:#C7A6DA;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 400;
  --weight-regular: 300;
    
  /*Size*/
  --size-border-radius:4px;
}
/*Universal tags*/
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    cursor:default;
    
}
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin:16px 0px;
}
h2{
    font-size:var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:8px 0px;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:4px 0px;
}
button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline:none;
}
/*margin*/
.margin{
    margin:0px 10%;
}
/*Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color-white);
    padding:13px 0px;
}
.navbar__container{
    width:100vw;
    display: flex;
    justify-content: space-between;
}
.navbar__logo{
    
}
.navbar__logo img{
    width:50px;
    height:50px;
    object-fit: cover;
}
.navbar__menu{
    display: flex;
    align-items: center;
}
.navbar__menu__item{
    /*border:1px solid var(--color-white);*/
    padding:8px 12px;
    margin:0px 4px;
    cursor:pointer;
    border-radius: var(--size-border-radius);
}
.navbar__menu__item:last-child{
    margin-right:0px;
}
.navbar__menu__item.active{
    border:1px solid var(--color-white);
}
.navbar__menu__item:hover{
    background-color: var(--background-dark-color);
    
}
/*Home*/
#home{
    
    background:url('/imgs/home-background.png') center/cover no-repeat;
    height:100vh;
    padding:200px 0px;

    
}
.home__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__avatar{
    width:250px;
    height:310px;
    border-radius: 5%;
    border:2px solid var(--color-light-white);
    object-fit: cover;
}
.home__title, .home__description{
    color:var(--color-white);
    line-height: 1.2;
}
.home__contact{
    color:var(--color-white);
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    margin-top:24px;
    padding:8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}