@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Global */


:root {
  /* Color */
  --background-color: #B9AAE2;
  --background-dark-color:#C7A6DA;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 400;
  --weight-regular: 300;
    
  /*Size*/
  --size-border-radius:4px;
    
  /*Animation*/
  --animation-duration:300ms;
}
/*Universal tags*/
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    cursor:default;
    
}
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin:40px 0px;
    
}
h2{
    font-size:var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:8px 0px;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin:4px 0px;
}
button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline:none;
}
/*margin*/
.margin{
    margin:0px 10%;
}
/*Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color-white);
    padding:13px 0px;
}
.navbar__container{
    width:100vw;
    display: flex;
    justify-content: space-between;
}
.navbar__logo{
    
}
.navbar__logo img{
    width:50px;
    height:50px;
    object-fit: cover;
}
.navbar__menu{
    display: flex;
    align-items: center;
}
.navbar__menu__item{
    /*border:1px solid var(--color-white);*/
    padding:8px 12px;
    margin:0px 4px;
    cursor:pointer;
    border-radius: var(--size-border-radius);
}
.navbar__menu__item:last-child{
    margin-right:0px;
}
.navbar__menu__item.active{
    border:1px solid var(--color-white);
}
.navbar__menu__item:hover{
    background-color: var(--background-dark-color);
    
}
/*Home*/
#home{
    
    background:url('/imgs/home-background.png') center/cover no-repeat;
    height:100vh;
    padding:200px 0px;

    
}
.home__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__avatar{
    width:250px;
    height:310px;
    border-radius: 5%;
    border:2px solid var(--color-light-white);
    object-fit: cover;
}
.home__title, .home__description{
    color:var(--color-white);
    line-height: 1.2;
}
.home__contact{
    color:var(--color-white);
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    margin-top:24px;
    padding:8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}
/*Section common*/
.section{
    /*padding:50px;*/
    text-align: center;
    
    /*margin:auto;*/
}
.section__container{
    max-width: 1200px;
}
/*About*/
#about{
   height:100vh;
   
    
}
.about__columns{
    display: flex;
    flex-direction: column;
    
}
.about__column1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__left{
    
    /*border:1px solid black;*/
   
}
.about__right{
    display: flex;
    justify-content: space-between;
    /*border:1px solid black;*/
    width: 60%;
}

.about__left>p{
    text-align: center;
    line-height: 2;
    font-weight: var(--weight-semi-bold);
    margin-bottom: 40px;
}
/*
.about__majors{
    display: flex;
    justify-content: space-between;
    margin:80px 0px;
}
.major__icon{
    width:170px;
    height:170px;
    
    font-size:70px;
    line-height: 170px;
    margin:auto;
    border:1px solid var(--background-color);
    border-radius: 50%;
    margin-bottom: 16px;
    color:var(--background-color);
    
}
.major__icon i{
    transition: all var(--animation-duration) ease;
}
.major__icon:hover i{
    color:var(--background-dark-color);
    transform:scale(1.1);
}
.major__title, .major__description{
    color:var(--color-dark-grey);
}
.major__description{
    font-size:var(--font-small);
}
*/
.job{
    display: flex;
   flex-direction: column;
   /*align-items: flex-start;*/
    /*width:48%;*/
    max-width: 48%;
    max-height: 100vh;
    
    
   
    
}
.job__title{
    color: var(--background-color);
    padding:5px;
    border:1px solid var(--background-color);
    border-radius: var(--size-border-radius);
}
.job__description{
    margin:16px 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.job__description__img{
    width:100px;
    height:50px;
    display: flex;
    align-items: center;
    margin-right:20px;
    
}

.job__description__img img{
    width:100px;
    height:auto;
    object-fit: cover;
}
.job__description .mnk{
    width:60px;
    height:auto;
    object-fit: cover;
}
.job__description__text{
    width:100%;
    
}
.job__name, .job__period{
    color:var(--color-light-grey);
}
.job__name{
    font-size:var(--font-small);
}
.job__period{
    font-size:var(--font-micro);
}
.skill{
    margin-bottom: 32px;
}
.skillset{
    background-color: var(--background-color);
    color:var(--color-light-white);
    margin:20px 0px;
    padding:20px 40px;
}
.skillset__title{
    color:var(--color-white);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.skill__description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.skill__bar{
    width:100%;
    height:7px;
    background-color: var(--color-grey);
    border-radius: 10px;
}
.skill__value{
    
    height:7px;
    background-color: var(--color-white);
    /*넓이 99%는 html의 skill__value에서 style="width: 99%;"로 지정, 넓이 변경하고싶으면 width:값을 변경하면 바뀜*/
    border-radius: 10px;
}